In [2]:
import pandas as pd
import numpy as np

In [17]:
# import hr data
Hr = pd.read_csv('HR.csv')

In [18]:
Hr.head()

,EmployeeID,EmployeeName,Gender,BirthDate,HireDate,MaritalStatus,JobTitle,DepartmentName,ShiftName,StartTime,EndTime,Salary,RateChangeDate,YearsOfExperience,Age
0,1,Ken Sánchez,M,1969-01-29,2009-01-14,S,Chief Executive Officer,Executive,Day,07:00:00.0000000,15:00:00.0000000,125.5000,2009-01-14 00:00:00.000,16,56
1,2,Terri Duffy,F,1971-08-01,2008-01-31,S,Vice President of Engineering,Engineering,Day,07:00:00.0000000,15:00:00.0000000,63.4615,2008-01-31 00:00:00.000,17,54
2,3,Roberto Tamburello,M,1974-11-12,2007-11-11,M,Engineering Manager,Engineering,Day,07:00:00.0000000,15:00:00.0000000,43.2692,2007-11-11 00:00:00.000,18,51
3,4,Rob Walters,M,1974-12-23,2007-12-05,S,Senior Tool Designer,Tool Design,Day,07:00:00.0000000,15:00:00.0000000,8.6200,2007-12-05 00:00:00.000,18,51
4,4,Rob Walters,M,1974-12-23,2007-12-05,S,Senior Tool Designer,Tool Design,Day,07:00:00.0000000,15:00:00.0000000,23.7200,2010-05-31 00:00:00.000,18,51

In [19]:
Hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         316 non-null    int64
 1   EmployeeName       316 non-null    object
 2   Gender             316 non-null    object
 3   BirthDate          316 non-null    object
 4   HireDate           316 non-null    object
 5   MaritalStatus      316 non-null    object
 6   JobTitle           316 non-null    object
 7   DepartmentName     316 non-null    object
 8   ShiftName          316 non-null    object
 9   StartTime          316 non-null    object
 10  EndTime            316 non-null    object
 11  Salary             316 non-null    float64
 12  RateChangeDate     316 non-null    object
 13  YearsOfExperience  316 non-null    int64
 14  Age                316 non-null    int64
dtypes: float64(1), int64(3), object(11)
memory usage: 37.2+ KB

In [20]:
# sum of missing value in data
Hr.isnull().sum()

EmployeeID           0
EmployeeName         0
Gender               0
BirthDate            0
HireDate             0
MaritalStatus        0
JobTitle             0
DepartmentName       0
ShiftName            0
StartTime            0
EndTime              0
Salary               0
RateChangeDate       0
YearsOfExperience    0
Age                  0
dtype: int64

In [21]:
# unique value of gender
Hr['Gender'].unique()

array(['M', 'F'], dtype=object)

In [22]:
# describe of data
Hr.describe()

       EmployeeID      Salary  YearsOfExperience         Age
count  316.000000  316.000000         316.000000  316.000000
mean   146.927215   17.758804          16.009494   46.756329
std     82.961367   12.276485           1.009434    8.985392
min      1.000000    6.500000          12.000000   34.000000
25%     75.750000   11.000000          16.000000   39.000000
50%    154.500000   14.000000          16.000000   46.000000
75%    217.250000   23.076900          17.000000   51.000000
max    290.000000  125.500000          19.000000   74.000000

In [23]:
# convert BirthDate,HireDate,RateChangeDate to date type
Hr['BirthDate'] = pd.to_datetime(Hr['BirthDate'])
Hr['HireDate'] = pd.to_datetime(Hr['HireDate'])
Hr['RateChangeDate'] = pd.to_datetime(Hr['RateChangeDate'])

In [24]:
# convert EndTime ,StartTime to date type
Hr['EndTime'] = pd.to_datetime(Hr['EndTime'])
Hr['StartTime'] = pd.to_datetime(Hr['StartTime'])

/tmp/ipython-input-2475315857.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Hr['EndTime'] = pd.to_datetime(Hr['EndTime'])
/tmp/ipython-input-2475315857.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Hr['StartTime'] = pd.to_datetime(Hr['StartTime'])

In [25]:
# round age
Hr['Age'] = round(Hr['Age'])

In [26]:
Hr['ShiftDuration'] = (Hr['EndTime'] - Hr['StartTime']).dt.total_seconds() / 3600

In [31]:
Hr['SalaryLevel'] = pd.qcut(Hr['Salary'], q=3, labels=['Low','Medium','High'])

In [27]:
Hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         316 non-null    int64
 1   EmployeeName       316 non-null    object
 2   Gender             316 non-null    object
 3   BirthDate          316 non-null    datetime64[ns]
 4   HireDate           316 non-null    datetime64[ns]
 5   MaritalStatus      316 non-null    object
 6   JobTitle           316 non-null    object
 7   DepartmentName     316 non-null    object
 8   ShiftName          316 non-null    object
 9   StartTime          316 non-null    datetime64[ns]
 10  EndTime            316 non-null    datetime64[ns]
 11  Salary             316 non-null    float64
 12  RateChangeDate     316 non-null    datetime64[ns]
 13  YearsOfExperience  316 non-null    int64
 14  Age                316 non-null    int64
 15  ShiftDuration      316 non-null    float64
dtypes: datetime64[ns](5), float64(2), int64(3), object(6)
memory usage: 39.6+ KB

In [28]:
Hr.head()

,EmployeeID,EmployeeName,Gender,BirthDate,HireDate,MaritalStatus,JobTitle,DepartmentName,ShiftName,StartTime,EndTime,Salary,RateChangeDate,YearsOfExperience,Age,ShiftDuration
0,1,Ken Sánchez,M,1969-01-29,2009-01-14,S,Chief Executive Officer,Executive,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,125.5000,2009-01-14,16,56,8.0
1,2,Terri Duffy,F,1971-08-01,2008-01-31,S,Vice President of Engineering,Engineering,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,63.4615,2008-01-31,17,54,8.0
2,3,Roberto Tamburello,M,1974-11-12,2007-11-11,M,Engineering Manager,Engineering,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,43.2692,2007-11-11,18,51,8.0
3,4,Rob Walters,M,1974-12-23,2007-12-05,S,Senior Tool Designer,Tool Design,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,8.6200,2007-12-05,18,51,8.0
4,4,Rob Walters,M,1974-12-23,2007-12-05,S,Senior Tool Designer,Tool Design,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,23.7200,2010-05-31,18,51,8.0

In [29]:
# unique value of ShiftName
Hr['ShiftName'].unique()

array(['Day', 'Night', 'Evening'], dtype=object)

In [30]:
# unique value of JobTitle
Hr['JobTitle'].unique()

array(['Chief Executive Officer', 'Vice President of Engineering',
       'Engineering Manager', 'Senior Tool Designer', 'Design Engineer',
       'Research and Development Manager',
       'Research and Development Engineer', 'Tool Designer',
       'Senior Design Engineer', 'Marketing Manager',
       'Marketing Assistant', 'Marketing Specialist',
       'Vice President of Production', 'Production Control Manager',
       'Production Supervisor - WC60', 'Production Technician - WC60',
       'Production Supervisor - WC10', 'Production Technician - WC10',
       'Production Supervisor - WC50', 'Production Technician - WC50',
       'Production Supervisor - WC30', 'Production Technician - WC30',
       'Production Supervisor - WC40', 'Production Technician - WC40',
       'Shipping and Receiving Supervisor', 'Stocker',
       'Shipping and Receiving Clerk', 'Production Supervisor - WC20',
       'Production Technician - WC20', 'Production Supervisor - WC45',
       'Production Technician - WC45', 'Quality Assurance Manager',
       'Quality Assurance Supervisor', 'Quality Assurance Technician',
       'Document Control Manager', 'Control Specialist',
       'Document Control Assistant', 'Master Scheduler',
       'Scheduling Assistant', 'Facilities Manager',
       'Maintenance Supervisor', 'Janitor',
       'Facilities Administrative Assistant', 'Chief Financial Officer',
       'Human Resources Manager',
       'Human Resources Administrative Assistant', 'Recruiter',
       'Benefits Specialist', 'Accounts Manager',
       'Accounts Receivable Specialist', 'Accountant',
       'Accounts Payable Specialist', 'Finance Manager',
       'Purchasing Manager', 'Buyer', 'Purchasing Assistant',
       'Assistant to the Chief Financial Officer',
       'Information Services Manager', 'Network Manager',
       'Network Administrator', 'Application Specialist',
       'Database Administrator', 'Vice President of Sales',
       'North American Sales Manager', 'Sales Representative',
       'Pacific Sales Manager', 'European Sales Manager'], dtype=object)

In [34]:
def categorize_job(title):
    title = title.lower()
    if 'chief' in title or 'vice president' in title:
        return 'Executive / Leadership'
    elif 'manager' in title or 'supervisor' in title:
        return 'Management / Supervisory'
    elif 'engineer' in title or 'r&d' in title or 'designer' in title or 'control specialist' in title:
        return 'Engineering / Technical'
    elif 'production' in title or 'technician' in title or 'quality' in title or 'stocker' in title or 'shipping' in title:
        return 'Production / Manufacturing'
    elif 'sales' in title or 'marketing' in title:
        return 'Sales / Marketing'
    elif 'account' in title or 'finance' in title or 'purchasing' in title or 'buyer' in title:
        return 'Finance / Accounting'
    elif 'human resources' in title or 'recruiter' in title or 'benefits' in title:
        return 'Human Resources'
    elif 'network' in title or 'database' in title or 'application' in title or 'information services' in title:
        return 'IT / Information Systems'
    elif 'assistant' in title or 'scheduler' in title:
        return 'Administration / Support'
    elif 'facilities' in title or 'maintenance' in title or 'janitor' in title:
        return 'Facilities / Maintenance'
    else:
        return 'Other'

Hr['JobCategory'] = Hr['JobTitle'].apply(categorize_job)

In [35]:
Hr.head()

,EmployeeID,EmployeeName,Gender,BirthDate,HireDate,MaritalStatus,JobTitle,DepartmentName,ShiftName,StartTime,EndTime,Salary,RateChangeDate,YearsOfExperience,Age,ShiftDuration,SalaryLevel,JobCategory
0,1,Ken Sánchez,M,1969-01-29,2009-01-14,S,Chief Executive Officer,Executive,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,125.5000,2009-01-14,16,56,8.0,High,Executive / Leadership
1,2,Terri Duffy,F,1971-08-01,2008-01-31,S,Vice President of Engineering,Engineering,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,63.4615,2008-01-31,17,54,8.0,High,Executive / Leadership
2,3,Roberto Tamburello,M,1974-11-12,2007-11-11,M,Engineering Manager,Engineering,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,43.2692,2007-11-11,18,51,8.0,High,Management / Supervisory
3,4,Rob Walters,M,1974-12-23,2007-12-05,S,Senior Tool Designer,Tool Design,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,8.6200,2007-12-05,18,51,8.0,Low,Engineering / Technical
4,4,Rob Walters,M,1974-12-23,2007-12-05,S,Senior Tool Designer,Tool Design,Day,2025-10-07 07:00:00,2025-10-07 15:00:00,23.7200,2010-05-31,18,51,8.0,High,Engineering / Technical

In [37]:
# value count of job title
Hr['JobCategory'].value_counts()

JobCategory
Production / Manufacturing    182
Management / Supervisory       45
Sales / Marketing              22
Finance / Accounting           18
Engineering / Technical        14
Administration / Support       10
Executive / Leadership          8
IT / Information Systems        8
Human Resources                 5
Facilities / Maintenance        4
Name: count, dtype: int64

In [38]:
Hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         316 non-null    int64
 1   EmployeeName       316 non-null    object
 2   Gender             316 non-null    object
 3   BirthDate          316 non-null    datetime64[ns]
 4   HireDate           316 non-null    datetime64[ns]
 5   MaritalStatus      316 non-null    object
 6   JobTitle           316 non-null    object
 7   DepartmentName     316 non-null    object
 8   ShiftName          316 non-null    object
 9   StartTime          316 non-null    datetime64[ns]
 10  EndTime            316 non-null    datetime64[ns]
 11  Salary             316 non-null    float64
 12  RateChangeDate     316 non-null    datetime64[ns]
 13  YearsOfExperience  316 non-null    int64
 14  Age                316 non-null    int64
 15  ShiftDuration      316 non-null    float64
 16  SalaryLevel        316 non-null    category
 17  JobCategory        316 non-null    object
dtypes: category(1), datetime64[ns](5), float64(2), int64(3), object(7)
memory usage: 42.5+ KB

In [39]:
# load data to csv
Hr.to_csv('HR_clean.csv', index=False)